{% extends 'modelo.html' %}
<br>
{% block conteudo %}
          <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
            <a class="navbar-brand" href="#">Sobre</a>
            <ul class="nav nav-pills">
          
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle bg-success text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="true">Dropdown</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#1">História</a></li>
                  <li><a class="dropdown-item" href="#2">Missões e Visões</a></li>
                  <li><a class="dropdown-item" href="#3">Valores</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          
                <div class="rodar">
                          <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="false" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
                            <h4 id="1"><strong>A história sobre a Quitanda do Zé</strong></h4>
                            <p class="texto">A Quitanda do Zé tem suas raízes na simplicidade e no
                  empreendedorismo de José Carlos Pereiras, um homem do interior paulista que
                  decidiu compartilhar os sabores da terra com sua comunidade. A história da Quitanda do Zé
                  é um exemplo de perseverança e crescimento gradual.
                  <br>
                  Tudo começou quando Zé, como é carinhosamente chamado, saiu pelas ruas com seu carrinho de mão carregado de frutas e verduras frescas. De porta em porta, ele oferecia seus produtos, conquistando a confiança de seus primeiros clientes.</p>
                  <div id="carouselExampleFade" class="carousel slide carousel-fade w-100 justify-content-center align-items-center">
                    <div id="carouselExampleIndicators" class="carousel slide">
                      <div class="carousel-indicators mt-3">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active " >
                          <div class="imagem">
                          <img src="../static/img/fotos/imagem 1.jpg" class="d-block mx-auto" alt="...">
                          <div class="carousel-caption d-none d-md-block shadow-sm p-2 m-1 bg-dark w-25 opacity-75 text-ligth mx-auto">
                            <h5>Onde tudo começou...</h5>
                          </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="imagem">
                            <img src="../static/img/fotos/imagem 2.jpg" class="d-block mx-auto" alt="...">
                            <div class="carousel-caption d-none d-md-block shadow-lg p-3 bg-dark w-25 opacity-75 text-ligth mx-auto">
                              <h5>Inicio de um sonho...</h5>
                              </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="imagem">
                          <img src="../static/img/fotos/imagem 3.jpg" class="d-block mx-auto" alt="...">
                          <div class="carousel-caption d-none d-md-block shadow-lg p-3 bg-dark  w-25 opacity-75 text-ligth mx-auto">
                            <h5>A realização do sonho...</h5>
                            </div>
                          </div>
                          </div>
                          
                        </div>
                      </div>      
                </div>
              <br>
              <br>
          <h4 id="2" class="coisa" ><strong>Quais suas missões e visões</strong></h4>
          <p class="texto" >Com o tempo, a demanda por suas mercadorias cresceu, e Zé tomou uma decisão audaciosa. Ele montou uma modesta barraca na feira municipal, onde a Quitanda do Zé logo se tornou uma parada obrigatória para os moradores em busca de alimentos frescos e saborosos. A qualidade dos produtos e o atendimento caloroso fizeram com que a Quitanda do Zé se destacasse.
          <br>
          À medida que o tempo passava, Zé e sua equipe mantiveram-se fiéis a seus valores de oferecer produtos de alta qualidade e um atendimento acolhedor. Isso atraiu cada vez mais clientes leais, mas também estabeleceu outros valores a serem seguidos.
          </p>
          <br>
          <h5 class="terra"><strong><i>Missão</i></strong></h5>
                  <p class="texto ">A missão da Quitanda do Zé é simples e clara: fornecer alimentos frescos, saudáveis e saborosos a preços acessíveis. Eles se comprometem a atender as necessidades de seus clientes com produtos de qualidade superior e a criar um ambiente acolhedor que celebre a comunidade local, com preços acessíveis e estando sempre disponiveís para toda a comunidade, tendo como único objetivo proporcionar produtos de qualidade e manter a confiança entre nossos clientes.</p>
                  <br>
                  <h5 class="terra"><strong><i>Visão</i></strong></h5>
                  <p class="texto">A visão de Zé é continuar a crescer e a servir a comunidade, mantendo sua boa relação com seus clientes e entregando os melhores produtos que ele pode oferecer. Ele sonha em expandir a Quitanda do Zé para outras regiões, compartilhando os sabores únicos de seu local de origem, e seu geito único e carinhoso de conquistar seus clientes, mantendo uma base de confiança. Ele acredita que a paixão pela qualidade dos produtos e seu compromisso com o cliente são os pilares fundamentais para um futuro brilhante.</p>
                  <br>
                  <br>
                  <br>
          <h4 id="3"><strong>Quais seus valores</strong></h4>
          <p class="texto text-success"><strong>Quitanda do Zé se baseia em valores sólidos:</strong>
            </p>
            <p class="texto">
        
              <i class="text-success">Qualidade:</i> Eles se esforçam para fornecer produtos da mais alta qualidade, cultivados localmente sempre que possível.
              <br>
              <i class="text-success">Honestidade:</i> A transparência e a integridade estão no centro de tudo o que fazem.
              <br>
              <i class="text-success">Comunidade:</i> Eles são parte da comunidade e se dedicam a apoiá-la.
              <br>
              <i class="text-success">Atendimento ao Cliente:</i>  Cada cliente é um amigo, e eles tratam todos com carinho e respeito.
              <br>
              <i class="text-success">Sustentabilidade:</i> Comprometem-se a adotar práticas sustentáveis em suas operações.
              <br>
              Hoje, a Quitanda do Zé é uma parte essencial da vida da comunidade local. Zé e sua equipe continuam a trabalhar com paixão e dedicação, trazendo a essência do campo para a cidade.
              <p class="texto">A história da Quitanda do Zé é um lembrete de que, com trabalho árduo, amor pelo que se faz e valores sólidos, é possível transformar um carrinho de mão em uma instituição local, proporcionando qualidade de vida e sabor para todos.
              </p>
        
              </p>
        </div>
            </div>    
{% endblock %}